.footer {
  background: #000;
  text-align: center;
  padding: 2rem 5.6vw;
  border-top: 1px solid rgba(255,255,255,.08);
}

.footer__container {
  max-width: 1150px;
  margin: 0 auto;
}

.footer__top {
  text-decoration: underline;
}
