@use 'reset';
@use 'variables';
@use 'typography';
@use 'buttons';
@use 'layout';

@use 'sections/header';
@use 'sections/hero';
@use 'sections/about';
@use 'sections/highlights';
@use 'sections/gallery';
@use 'sections/trailer';
@use 'sections/ficha';
@use 'sections/faq';
@use 'sections/footer';
